SASHA_STAGING_POSTGRES_PASSWORD=local_staging_database_password
SASHA_STAGING_PASSWORD=SashaLocalStaging2026!
SASHA_STAGING_MASTER_KEY=ERERERERERERERERERERERERERERERERERERERERERE=
SASHA_STAGING_DATA_KEY=IiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiI=
SASHA_CLAMAV_IMAGE_TAG=1.4
